<footer class="site-footer text-center">
  <hr>
  <a href="https://about.gitlab.com/stages-devops-lifecycle/pages/"><i class="fab fa-gitlab"></i></a>
  <span class="site-footer-credits">Hosted by GitLab Pages</span>
  <div>&copy; Antoine Crépin, 2022</div>
</footer>
