{%- if page.layout == 'home' -%}

<div class="jumbotron jumbotron-fluid header header-home">
  <div class="container">

    <div class="row">
      <div class="col">
        <h1>Antoine Crépin</h1>
		<br>
        <ul class="contact list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a class="btn btn-secondary" href="https://www.linkedin.com/in/antoine-crepin">
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-secondary" href="https://www.gitlab.com/antcrepin">
              <i class="fab fa-gitlab"></i> GitLab
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-secondary" href="https://open.spotify.com/user/ant.crepin">
              <i class="fab fa-spotify"></i> Spotify
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-secondary" href="https://www.strava.com/athletes/42495729">
              <i class="fab fa-strava"></i> Strava
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{%- else -%}

<div class="jumbotron jumbotron-fluid header header-page">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.description }}</h2>
  </div>
</div>

{%- endif -%}
