{%- if site.header_paths -%}
  {%- assign page_paths = site.header_paths -%}
{%- else -%}
  {%- assign page_paths = '' | split: '' -%}
  {%- for my_page in site.pages -%}
    {%- if my_page.title -%}
      {%- unless my_page.title contains "404" -%}
      {%- assign page_paths = page_paths | push: my_page.path -%}
      {%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-white">
    <a class="navbar-brand" href="{% link index.md %}">Homepage</a>

    {%- if page_paths.size > 0 -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.url == page.url -%}
            <li class="nav-item active">
              <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}
                <span class="sr-only">(current)</span></a>
            </li>
          {%- else -%}
            <li class="nav-item">
              <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}
  </nav>
</div>
