---
layout: default
---

{{ content }}

<h4>Engineer - Applied mathematics</h4>

<p><i class="fa fa-map-marker-alt"></i> <i>Paris Area, France</i></p>

<ul>
	<li><b>Areas of interest:</b> optimization, operations research</li>
	<li><b>MEng Degree</b> from <a href="https://www.ensta-paris.fr/en">ENSTA Paris</a>, class of 2020</li>
	<li><b>MS Degree in Operations Research</b> (<a href="https://uma.ensta-paris.fr/mpro/">MPRO</a>) from <i>Conservatoire National des Arts et Métiers</i> (<a href="http://www.cnam.eu/site-en/">CNAM</a>), class of 2020</li>

		<ul>
			<li>LP, MILP, MINLP, SDP techniques</li>
			<li>Graph theory, optimization in graphs</li>
			<li>Stochastic optimization</li>
			<li>Constraint programming</li>
			<li>Metaheuristics</li>
		</ul>
</ul>